<header>
  <a href="#"><img src="./../assets/icons/menu.png" alt="menu"/></a>
  <h1>
    <span>cx</span>Loyalty
  </h1>
</header>

<nav>
  <a routerLink="/flight" routerLinkActive="active">
    <img src="./../assets/icons/flight.png" alt="Flights"/>Flights</a>
  <a routerLink="/flight" routerLinkActive="active">
    <img src="./../assets/icons/hotel.png" alt="Hotels"/>Hotels</a>
  <a routerLink="/flight" routerLinkActive="active">
    <img src="./../assets/icons/trains.png" alt="Trains"/>Trains</a>
  <a routerLink="/flight-details" routerLinkActive="active">
    <img src="./../assets/icons/bus.png" alt="Buses"/>Buses</a>
</nav>
<router-outlet></router-outlet>